.base {
  margin: auto;
  width: 50%;
  border: 3px solid violet;
  padding: 10px;
}

.center {    
  text-align: center;    
}
  
.left {   
  text-align: left;
  overflow: auto;
}

.imagecenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}